{{!-- index.hbs --}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vista de Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/socket.io/socket.io.js"></script>  
</head>

<body>
    <div class="container mt-3">
        {{{body}}}
    
         <div class="jumbotron" id="centro-mensajes">
            <h1>Centro de Mensajes</h1>
            <br>
            <input type="text" id="chat_user" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email">
            <hr>
            <div id="messages"></div>
        
            <form class="form-inline mt-3" onsubmit="return addMessage(this)" autocomplete="off">
                <input disabled type="text" id="chat_text" class="form-control my-2 mr-2" placeholder="Ingresá un mensaje...">
                <input disabled id="chat_send" class="btn btn-primary my-2" type="submit" value="Enviar!">
            </form>
        </div>
    </div>
</body>
<script src="index.js"></script> 
<script src="chat.js"></script> 
</html>